= render TurboFrameComponent.new(id: 'collection_show', data: {"turbo-frame-target": "frame"}) do
  - if @collection
    - if @collection.errors
      = render Display::AlertComponent.new(type:'info', message: @collection.errors.join)
    - else
      = render TabsSectionComponent.new(ontology: @ontology,section_title: "collections" , section_content: @collection)
