%span
  %span
  = beta_badge
%span
  = render Display::InfoTooltipComponent.new(text: t("view_fair_scores_definitions"))
  = render IconWithTooltipComponent.new(icon: "json.svg",link: get_fairness_service_url, target: '_blank', title: 'Go to API', size:'small', style: 'line-height: 0;margin-left: 6px;')  