%select#upload-ontology-visibility{autocomplete:"off" ,data: {controller: "select-input", 'select-input':{'multiple-value':@multiple}}}
  - @values.each do |value|
    %option{value:@value, selected: "#{value==@selected}" }
      = value
