.container.card-container
  %section
    .row
      %h3.mt-5.text-center About
    .row
      %p.text-justify
        BiodivPortal is an ontology repository and service dedicated to biodiversity and environmental sciences. It serves as a core service of NFDI4Biodiversity and is supported by the German Research Foundation (DFG) within the framework of the project "Establishment of the National Research Data Infrastructure (NFDI)" under project number 442032008.

  %section
    .row
      %h3.mt-5.text-center Team
    .row
      .col-md-6
        %div.card.p-3.mb-4.shadow-sm
          %h5 Dr. Naouel Karam
          %p Project Lead, Institute for Applied Informatics (InfAI)
          %p
            %strong Email:
            karam@infai.org
      .col-md-6
        %div.card.p-3.mb-4.shadow-sm
          %h5 Prof. Dr. Adrian Paschke
          %p Project Lead, Freie Universität Berlin
          %p
            %strong Email:
            paschke@inf.fu-berlin.de
    .row
      .col-md-6
        %div.card.p-3.mb-4.shadow-sm
          %h5 Syphax Bouazzouni
          %p Lead Software Architect, Institute for Applied Informatics (InfAI)
          %p
            %strong Email:
            bouazouni@infai.org
      .col-md-6
        %div.card.p-3.mb-4.shadow-sm
          %h5 Jan Fillies
          %p Software Developer, Institute for Applied Informatics (InfAI)
          %p
            %strong Email:
            fillies@infai.org

  %section
    .row
      %h3.mt-5.text-center Contributors
    %div
      %ul
        %li Raimi Solorzano Niederhausen – Institute for Applied Informatics (InfAI)
        %li Peiran Li – Freie Universität Berlin

  %section
    .row
      %h3.mt-5.text-center How to Cite Us
    .row
      .col-12
        %p.text-justify
          Karam, N., Bouazzouni, S., Fillies, J., & Paschke, A. (Eds.) (2023–present). BiodivPortal – The Home of Ontologies and Semantic Artifacts in Biodiversity and Related Domains. Available at:
          %a{href: "https://biodivportal.gfbio.org"} https://biodivportal.gfbio.org
          [Accessed: 2024-09-06].

  %section
    .row
      %h3.mt-5.text-center Scientific Citation
    .row
      .col-12
        %p.text-justify
          Karam, N., Fillies, J., Jonquet, C., Bouazzouni, S., Löffler, F., Zander, F., König-Ries, B., Güntsch, A., Diepenbroek, M., & Paschke, A. (2024). BiodivPortal: Enabling Semantic Services for Biodiversity within the German National Research Data Infrastructure. Datenbank-Spektrum, 24(2), 129–137. Available at:
          %a{href: "https://doi.org/10.1007/s13222-024-00474-5"} https://doi.org/10.1007/s13222-024-00474-5

  %section
    .row
      %h3.mt-5.text-center Partners
    .row
      .col-12.text-justify
        %p
          BiodivPortal is developed by the Institute for Applied Informatics (InfAI) at the University of Leipzig and operated by GFBio e.V. on the de.NBI Cloud. The following NFDI4Biodiversity partner institutions contribute to the development, content enrichment, and integration of BiodivPortal into the NFDI4Biodiversity infrastructure:
          GFBio e.V, University of Marburg, Friedrich Schiller University of Jena, MARUM - University of Bremen, Botanic Garden Berlin, SNSB, and FBN.
      .row.home-support-items.justify-content-center
        .col-auto
          %img.m-3{src: asset_path('logos/about/bgb.png')}
        .col-auto
          %img.m-3{src: asset_path('logos/about/denbi.png')}
        .col-auto
          %img.m-3{src: asset_path('logos/about/fbn.png')}
        .col-auto
          %img.m-3{src: asset_path('logos/about/gfbio.png')}
        .col-auto
          %img.m-3{src: asset_path('logos/about/snsb.png')}
        .col-auto
          %img.m-3{src: asset_path('logos/about/uni-bremen.png')}
        .col-auto
          %img.m-3{src: asset_path('logos/about/uni-jena.png')}
        .col-auto
          %img.m-3{src: asset_path('logos/about/uni-marburg.png')}
