.container.card-container
  %section
    .row.mb-2
      .col-sm-12.text-center
        %h1.mt-5 Current team
    .row
      .col-sm-12
        .container.team-card-container

          .team-card
            %div.team-card-image
              %img{alt: 'Ilaria Rosati', src: asset_path('static/irosati.jpg')}
            %div.team-card-content
              %h4 Ilaria Rosati
              %p Data Scientist - LifeWatch Italy
              %p Research Institute on Terrestrial Ecosystems - National Research Council
              %p ilaria.rosati[at]cnr.it
          .team-card
            %div.team-card-image
              %img{alt: 'Lucia Vaira', src: asset_path('static/lucia.png')}
            %div.team-card-content
              %h4 Lucia Vaira
              %p Data and Service Architect
              %p lucia.vaira[at]lifewatch.eu
          .team-card
            %div.team-card-image
              %img{alt: 'Martina Pulieri', src: 'https://i1.rgstatic.net/ii/profile.image/11431281184882682-1693469077909_Q128/Martina-Pulieri.jpg'}
            %div.team-card-content
              %h4 Martina Pulieri
              %p Research assistant - LifeWatch Italy
              %p University of Salento
              %p martina.pulieri[at]unisalento.it
          .team-card
            %div.team-card-image
              %img{alt: 'Parham Ramezani', src: asset_path('static/parham.png')}
            %div.team-card-content
              %h4 Parham Ramezani
              %p LifeWatch ERIC Ontology Developer
              %p parham.ramezani[at]lifewatch.eu
          .team-card
            %div.team-card-image
              %img{alt: 'Davide Raho', src: asset_path('static/davide-2.png')}
            %div.team-card-content
              %h4 Davide Raho
              %p Data scientist - LifeWatch Italy
              %p Research Institute on Terrestrial Ecosystems - National Research Council
              %p davide.raho@cnr.it


    .row.mb-2
      .col-sm-12.text-center
        %h1.mt-5 Past team
    .row
      .col-sm-12
        .container.team-card-container
          .team-card
            %div.team-card-image
              %img{alt: 'Nicola fiore', src: 'https://github.com/lifewatch-eric/documentation/raw/main/assets/img/team/nicola-fiore.png'}
            %div.team-card-content
              %h4 Nicola Fiore
              %p LifeWatch ERIC Service Centre ICT Coordinator
          .team-card
            %div.team-card-image
              %img{alt: 'Xeni Kechagioglou', src: 'https://github.com/lifewatch-eric/documentation/raw/main/assets/img/team/Xeni.jpg'}
            %div.team-card-content
              %h4 Xeni Kechagioglou
              %p LifeWatch ERIC Ontology Developer
          .team-card
            %div.team-card-image
              %img{alt: 'Pierfrancesco Tommasino', src: 'https://sredlist.eu/assets/images/team/pierfrancescoTommasino.jpeg'}
            %div.team-card-content
              %h4 Pierfrancesco Tommasino
              %p Research Grant - LifeWatch Italy
              %p Research Institute on Terrestrial Ecosystems - National Research Council
          .team-card
            %div.team-card-image
              %img{alt: 'Giuseppe Turrisi', src: 'https://github.com/lifewatch-eric/documentation/raw/main/assets/img/team/GTURRISI.jpg'}
            %div.team-card-content
              %h4 Giuseppe Turrisi
              %p LifeWatch ERIC Web Portal Developer
