.ontology-notes-container
  .left-column 
    = render TabsContainerComponent.new do |c|
      - c.item(title: 'Comment', selected: true)
      - c.item_content do
        first tab

      - c.item(title: 'Proposale')
      - c.item_content do
        second tab
  .right-column
    tt