= render TurboFrameComponent.new(id: 'instance_show') do
  - if @instance
    - if @instance.errors
      = render Display::AlertComponent.new(type:'info', message: @instance.errors.join)
    - else
      = render TabsSectionComponent.new(ontology: @ontology,section_title: "instances" , section_content: @instance)