= render Input::SelectComponent.new(id: @id, label: @label ,name: @name, value: @ontologies, multiple: "multiple", selected: @selected) 
.ontologies-selector-button{'data-controller': 'ontologies-selector', 'data-ontologies-selector-id-value': @id}
    .clear-selection{'data-action': 'click->ontologies-selector#clear'}
        Clear selection
    = link_to_modal 'Ontologies advanced selection' , "/ontologies_selector?id=#{@id}",
        data: { show_modal_title_value: 'Ontologies advanced selection'}