= render TurboFrameComponent.new(id: 'scheme_show', data: {"turbo-frame-target": "frame"}) do
  - if @scheme
    - if @scheme.errors
      = render Display::AlertComponent.new(type:'info', message: @scheme.errors.join)
    - else
      = render TabsSectionComponent.new(ontology: @ontology,section_title: "schemes" , section_content: @scheme)
