= link_to_modal(t('sparql_endpoint.edit_sample_queries'),
                edit_sample_queries_path(graph: @graph, sample_queries: @sample_queries),
                id: "new_category_btn",
                data: { show_modal_title_value: t('sparql_endpoint.edit_sample_queries')}) 