= turbo_frame_tag 'ontology-administration-tab' do
    %div
        %table{:style => "float:left;"}
        %tr
            %td{:style => "white-space:nowrap;"}
            = t('admin.index.report_generated_on')
            &nbsp;&nbsp;
            %span.report_date_generated
            %a#refresh_report_action{:href => "javascript:;", :class => "link_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style => "margin-left:11px;"}
                %span.ui-button-text{:class => "report_date_generated_button"}
        %p.tab_description{:style => "clear:both;"}
        %table#adminOntologies.border.rounded.p-1