- if agent.id && !agent.id.empty? && session[:user] && session[:user].admin?
  %div.d-flex{style: 'width: 250px'}
    %span.mx-1
      = link_to_agent_edit_modal(agent)
    %span
      - count = agent_usages_count(agent)
      - if count.zero?
        = button_to t("agents.delete"), CGI.unescape(agent_path(agent.id.split('/').last)), method: :delete, class: 'btn btn-link',  form: {data: { turbo: true, turbo_confirm: t("agents.turbo_confirm"), turbo_frame: '_top'}}
      - else
        %span{data: { controller: 'tooltip' }, title: t("agents.delete_error", agent: agent.agentType)}
          = link_to t("agents.delete"), "", class: 'btn btn-link disabled'