.mappings-table-view-container
    .mappings-ontologies-select
        = form_tag('/mappings_ontologies_table', method: :get, novalidate: true, data: { turbo: true, turbo_frame: 'mappings_table' }) do
            .mappings-selector{data: {action: 'change->mappings#submit', 'mappings-target': 'selector'}}
                = render Input::SelectComponent.new(label: t('mappings.intro'), id: 'mappings_ontologies_selector', name: 'ontology', value: @options)              
            %input.d-none{ type: 'submit', 'data-mappings-target': 'submit'}
            %div
                = render TurboFrameComponent.new(id:"mappings_table")