%div#propTree
  = render TurboFrameComponent.new(id: 'properties_tree_view',
                                       src: "/ajax/properties/treeview?ontology=#{@ontology.acronym}&auto_click=false&language=#{request_lang}",
                                       data: {'turbo-frame-target': 'frame'})
