= render TurboFrameComponent.new(id: 'property_show', data: {"turbo-frame-target": "frame"}) do
  - if @property
    - if @property.errors
      = render Display::AlertComponent.new(type:'info', message: @property.errors.join)
    - else
      = render TabsSectionComponent.new(ontology: @ontology,section_title: "properties" , section_content: @property)