- @title= "Sparql Endpoint"
- @description= "Query structured datasets using SPARQL to retrieve, filter, and manipulate Vocabularies   efficiently."
.sparql-page-container
  .sparql-page-subcontainer
    .sparql-page-title
      .text
        = @title
      .line
    .sparql-page-decription
      = @description
    .sparql-page-text-area
      = sparql_query_container