.sparql-page-container
  .sparql-page-subcontainer
    .sparql-page-title
      .text
        = t('sparql_endpoint.title')
      .line
    .sparql-page-decription
      = t('sparql_endpoint.description')
    .sparql-page-text-area
      = sparql_query_container