= turbo_frame_tag 'agents-list' do
  = link_to_modal("Create New Agent",
                new_agent_path,
                id: "new_agent_btn",
                role: "button",
                class: "btn btn-default mb-3",
                data: { show_modal_title_value: "Create a new agent", show_modal_size_value: 'modal-xl' },
                )
  = render_alerts_container(AgentsController)
  %table#adminAgents.zebra{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Name
        %th Identifiers
        %th Affiliations
        %th Type
        %th{:class => 'delete_mappings_column'} Actions
    %tbody#agents_table_content
      = render partial: 'agents/agent' , collection: @agents
      %tr.empty-state
        %td.text-center{:colspan => "6"} There are currently no  agents.
  :javascript
    $.fn.dataTable.ext.errMode = 'none';

    $("#adminAgents").dataTable()