:javascript
  $(document).ready(function() {
    jQuery("#ontology_submission_form").validate();
  });


  function onMetadataChange(){
    let frame = document.getElementById('metadata_by_ontology')
    let properties = document.getElementById('search_metadata')
    let required = document.getElementById('filter-required-only')
    let selectedProperties = "all"
    if(properties){
       selectedProperties = Array.from(properties.selectedOptions).map(({ value }) => value).join(',')
    }
    frame.src = "?properties=" + selectedProperties + "&required=" + required.checked + "&show_sections=true"
  }


= render partial: 'form_content', locals: {id: 'metadata_by_ontology', acronym: @ontology.acronym, submissionId: @submission.submissionId}

%div.d-flex.justify-content-end.mt-1
  %div
    = link_to "Cancel", :back, class: "btn btn-secondary"
  %div.ml-1
    = submit_tag button_text, class: "btn btn-primary"
