.center
  .edit-ontology-container
    .edit-ontology-title
      %div Edit ontology
      %hr/
    .edit-ontology-sub-container
      .edit-ontology-left-column{:role => "tablist"}
        %input{:name => "search", :placeholder => "Filter Properties to show", :type => "text"}/
        .edit-ontology-tab-item.active{"aria-controls" => "ontology-details-tab", "aria-selected" => "true", "data-bs-target" => "#ontology-details", "data-bs-toggle" => "tab", :role => "tab"}
          Ontology Details
        .edit-ontology-tab-item{"aria-controls" => "general-metadata-tab", "aria-selected" => "true", "data-bs-target" => "#general-metadata", "data-bs-toggle" => "tab", :role => "tab"}
          General MetaData
        .edit-ontology-tab-item{"aria-controls" => "key-properties-tab", "aria-selected" => "true", "data-bs-target" => "#key-properties", "data-bs-toggle" => "tab", :role => "tab"}
          Key properties
        .edit-ontology-tab-item{"aria-controls" => "description-tab", "aria-selected" => "true", "data-bs-target" => "#description", "data-bs-toggle" => "tab", :role => "tab"}
          Description
        .edit-ontology-tab-item{"aria-controls" => "more-description-details-tab", "aria-selected" => "true", "data-bs-target" => "#more-description-details", "data-bs-toggle" => "tab", :role => "tab"}
          More description details
        .edit-ontology-tab-item{"aria-controls" => "dates-tab", "aria-selected" => "true", "data-bs-target" => "#dates", "data-bs-toggle" => "tab", :role => "tab"}
          Dates
        .edit-ontology-tab-item{"aria-controls" => "licenses-tab", "aria-selected" => "true", "data-bs-target" => "#licenses", "data-bs-toggle" => "tab", :role => "tab"}
          Licenses
        .edit-ontology-tab-item{"aria-controls" => "contacts-tab", "aria-selected" => "true", "data-bs-target" => "#contacts", "data-bs-toggle" => "tab", :role => "tab"}
          Contacts
        .edit-ontology-tab-item{"aria-controls" => "ontology-relations-tab", "aria-selected" => "true", "data-bs-target" => "#ontology-relations", "data-bs-toggle" => "tab", :role => "tab"}
          Ontology relations
        .edit-ontology-tab-item{"aria-controls" => "ontology-content-tab", "aria-selected" => "true", "data-bs-target" => "#ontology-content", "data-bs-toggle" => "tab", :role => "tab"}
          Ontology content
      #myTabContent.edit-ontology-right-column.tab-content
        #ontology-details.edit-ontology-tab.tab-pane.fade.show.active{"aria-labelledby" => "ontology-details-tab", :role => "tabpanel"}
          .edit-ontology-field
            %div
              Name
            %input{:name => "name", :type => "text"}/
          .edit-ontology-field
            %div
              Acronym
            %input{:name => "name", :type => "text"}/
          .edit-ontology-field
            %div
              Administrator
            %input{:name => "name", :type => "text"}/
          .edit-ontology-field
            %div
              Bla bla blabla
            %input{:name => "name", :type => "text"}/
        #general-metadata.edit-ontology-tab.tab-pane.fade{"aria-labelledby" => "general-metadata-tab", :role => "tabpanel"}
          2
        #key-properties.edit-ontology-tab.tab-pane.fade{"aria-labelledby" => "key-properties-tab", :role => "tabpanel"}
          3
        #description.edit-ontology-tab.tab-pane.fade{"aria-labelledby" => "description-tab", :role => "tabpanel"}
          4
        #more-description-details.edit-ontology-tab.tab-pane.fade{"aria-labelledby" => "more-description-details-tab", :role => "tabpanel"}
          5
        #dates.edit-ontology-tab.tab-pane.fade{"aria-labelledby" => "dates-tab", :role => "tabpanel"}
          6
        #licenses.edit-ontology-tab.tab-pane.fade{"aria-labelledby" => "licenses-tab", :role => "tabpanel"}
          7
        #contacts.edit-ontology-tab.tab-pane.fade{"aria-labelledby" => "contacts-tab", :role => "tabpanel"}
          8
        #ontology-relations.edit-ontology-tab.tab-pane.fade{"aria-labelledby" => "ontology-relations", :role => "tabpanel"}
          9
        #ontology-content.edit-ontology-tab.tab-pane.fade{"aria-labelledby" => "ontology-content", :role => "tabpanel"}
          10
    %hr#edit-ontology-actions-devider
    .edit-ontology-actions
      .reset-all-button
        %svg{:fill => "none", :height => "11", :viewbox => "0 0 11 11", :width => "11", :xmlns => "http://www.w3.org/2000/svg"}
          %g{"clip-path" => "url(#clip0_1818_661)"}
            %path{:d => "M10.84 5.0201L9.19761 6.98521C9.06164 7.14789 8.86639 7.23183 8.66972 7.23183C8.50863 7.23197 8.35265 7.17532 8.2292 7.07184L6.26409 5.42942C5.97274 5.18592 5.93396 4.75234 6.17747 4.46101C6.42097 4.16968 6.85455 4.13088 7.14588 4.37439L7.95167 5.04786C7.73094 3.43887 6.34747 2.19529 4.6788 2.19529C2.85708 2.19531 1.375 3.67739 1.375 5.49912C1.375 7.32084 2.85708 8.80292 4.6788 8.80292C5.0585 8.80292 5.3663 9.11072 5.3663 9.49042C5.3663 9.87011 5.0585 10.1779 4.6788 10.1779C3.42906 10.1779 2.2541 9.69123 1.3704 8.80754C0.486686 7.92382 0 6.74886 0 5.49912C0 4.24937 0.486686 3.07441 1.3704 2.19069C2.2541 1.307 3.42906 0.820312 4.6788 0.820312C5.92855 0.820312 7.10351 1.307 7.98722 2.19069C8.68583 2.88928 9.13602 3.76997 9.2941 4.72566L9.78499 4.1383C10.0285 3.84697 10.4621 3.80821 10.7534 4.05167C11.0447 4.2952 11.0835 4.72877 10.84 5.0201Z", :fill => "#31B404"}
          %defs
            %clippath#clip0_1818_661
              %rect{:fill => "white", :height => "11", :width => "11"}
        %div Reset all fields
      .save-button
        %div Save
        %svg{:fill => "none", :height => "8", :viewbox => "0 0 10 8", :width => "10", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M9.76764 0.232287C9.45824 -0.0775267 8.95582 -0.0773314 8.646 0.232287L3.59787 5.28062L1.35419 3.03696C1.04438 2.72715 0.542174 2.72715 0.23236 3.03696C-0.0774534 3.34677 -0.0774534 3.84898 0.23236 4.15879L3.03684 6.96327C3.19165 7.11807 3.39464 7.19568 3.59765 7.19568C3.80067 7.19568 4.00386 7.11827 4.15867 6.96327L9.76764 1.3541C10.0775 1.0445 10.0775 0.542081 9.76764 0.232287Z", :fill => "white"}

  %script{crossorigin: "anonymous", integrity: "sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz", src: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"}

