:javascript

  function ontologyFormatChange(event){
    let selected = event.target.selectedOptions.item(0)
    let options = document.querySelectorAll('.format_options')
    Array.from(options).forEach( x => $(x).hide())
    switch(selected.value){
      case 'OWL':
        jQuery("#owl_options").show()
        break
      case 'SKOS':
        jQuery("#skos_options").show()
        break
    }
  }

= attribute_form_group_container('hasOntologyLanguage', label: 'Format', required: true) do |c|
  - ont_formats = %w[OBO OWL UMLS SKOS].sort
  - selected = @submission.hasOntologyLanguage ? @submission.hasOntologyLanguage : "OWL"
  = select c.name,  c.method_name, options_for_select(ont_formats, selected), {required: true}, {class: "form-control", onchange: 'ontologyFormatChange(event)'}
  - c.help do
    %div#skos_options.format_options{style: "display:#{skos? ? 'block': 'none'}"}
      SKOS vocabularies submitted to BioPortal must contain a minimum of one concept scheme and top concept assertion.
      Please refer to the NCBO wiki for a more #{link_to 'detailed explanation', 'https://www.bioontology.org/wiki/index.php/SKOSSupport', target: "_blank" }
      with examples.
        