.div.form-group.row
  %label.col-sm-2.col-form-label{for: "submission_resourceType"}
    Resource Type
    %span.asterik<> *
  %div.col-sm-10.d-flex.align-items-top.row-resourceType
    %label{for: "submission_resourceTypeGeneral", style: "white-space: nowrap"} General Type:
    - selected_resourceTypeGeneral = @submission.resourceTypeGeneral ? @submission.resourceTypeGeneral : "Dataset"
    %div.formControlErrorContainer
      %select#submission_resourceTypeGeneral.form-control{name: "submission[resourceTypeGeneral]"}
        %option{value: "Dataset", selected: selected_resourceTypeGeneral == "Dataset"}= "Dataset"
        %option{value: "Other", selected: selected_resourceTypeGeneral == "Other"}= "Other"
    %label{for: "submission_resourceTypeGeneral", style: "white-space: nowrap"}
      Resource Type:
      %span.asterik<> *
    %div.formControlErrorContainer
      %input#submission_resourceType.form-control{name: "submission[resourceType]", type: "text", value: @submission.resourceType, required: true}



