%div.d-flex
  %div.w-50.mx-1
    = text_field object_name, "contact[#{index.to_s.upcase}][name]", placeholder: 'Name', value: contact ? contact["name"] : '' , class: "form-control flex-grow-1 mx-2"
  %div.w-50.mx-1
    = text_field object_name, "contact[#{index.to_s.upcase}][email]", placeholder: 'Email', value: contact ? contact["email"] : '', class: "form-control flex-grow-1 mx-2"
