= form_for :submission, url: ontology_submission_path(@ontology.acronym, @submission.submissionId), html: { id: "ontology_submission_form", method: :put, multipart: true } do |f|
  = render partial: "form", locals: {f: f, button_text: "Save submission"}
