= form_for :submission, url: ontology_submission_path(@ontology.acronym, @submission.submissionId), html: { id: "ontology_submission_form", method: :put, multipart: true } do |f|
  = render partial: "form_content", locals: {id:  params[:container_id] || 'metadata_by_ontology', acronym: @ontology.acronym, submissionId: @submission.submissionId}
