.taxonomy-section
    - pairs, impairs = @groups.each_with_index.partition { |_, index| index.even? }
    - groups_first_row = pairs.map(&:first)
    - groups_second_row = impairs.map(&:first)
    .first-row
        - groups_first_row.each do |group|
            = render Display::TaxonomyCardComponent.new(taxonomy: group, ontologies_names: @ontologies_names)
    .second-row
        - groups_second_row.each do |group|
            = render Display::TaxonomyCardComponent.new(taxonomy: group, ontologies_names: @ontologies_names)