.taxonomy-page-container
    .taxonomy-page-subcontainer 
        .taxonomy-page-title
            .text
                Groups and categories
            .line
        .taxonomy-page-decription
            In AgroPortal, ontologies are organized in groups and tagged with categories. Typically, groups associate ontologies from the same project or organization for better identification of the provenance. Whereas categories are about subjects/topics and enable to classify ontologies. As of 2016, AgroPortal's categories were established in cooperation with FAO Agricultural Information Management Standards (AIMS). Groups and categories, along with other metadata, can be used on the “Browse” page of AgroPortal to filter out the list of ontologies.

        = render TabsContainerComponent.new do |c|
            - c.item(title: 'Groupes', selected: true)
            - c.item_content do
                = render partial: '/taxonomy/groupes'

            - c.item(title: 'Categories')
            - c.item_content do
                = render partial: '/taxonomy/categories'