.location-choice
  %input{type: "radio", name: "location", value: "metadata_only"}
  %label.title{for: "metadata_only"}
    Metadata only
.upload-ontology-desc.mb-2
  Allow users to view and search your ontology metadata, but not its classes and properties.
.location-choice
  %input{type: "radio", name: "location", value: "load_from_url"}
  %label.title{for: "load_from_url"} 
    Load from URL
.upload-ontology-desc.mb-2
  New versions loaded on a nightly basis.
.location-choice.mb-3
  %input{type: "radio", name: "location", value: "upload_local_file"}
  %label.title{for: "upload_local_file"} 
    Upload local file
= render FileInputLoaderComponent.new(name: "file")

