- depiction_url = @submission_latest.depiction
- unless depiction_url.nil?
    .right_metadata
        .depiction
            %img{src: depiction_url}
            .loop_icon
                - img = "<img src='#{asset_path("summary/loop.svg")}'/>"
                = link_to_modal(img.html_safe, "/ajax/submission/show_depiction?depiction_url=#{depiction_url}",data: { show_modal_title_value: "Depiction", show_modal_size_value: 'modal-xl' })          