.right_metadata
    .depiction
        .caintainer_vertical
            .projects_card
                %p Identifiers
                = info_tooltip('text to describe identifiers section')
        .creation_info
        - unless @submission_latest.URI.nil? || @submission_latest.URI.empty?
            %p.description_text_identifers 
                URI
        %p.normal_text
            = render LinkFieldComponent.new(value: @submission_latest.URI)
            .creation_info
        - unless @submission_latest.versionIRI.nil? || @submission_latest.versionIRI.empty?
            %p.description_text_identifers 
                VersionIRI
            %p.normal_text
                = render LinkFieldComponent.new(value: @submission_latest.versionIRI)
                .creation_info
        %p.description_text_identifers 
        - unless @submission_latest.identifier.nil? || @submission_latest.identifier.empty?
            Identifier
        %p.normal_text
            = render LinkFieldComponent.new(value: @submission_latest.identifier)