= render TurboFrameComponent.new(id: "subject_chips") do
    - if @subjects.present?
        - theme_taxonomy_ontologies = get_theme_taxonomy_ontologies() || []
        = horizontal_list_container(show_ontology_domains(@subjects).uniq) do |v|
            = subject_chip(v, theme_taxonomy_ontologies)