$color-primary: #0f4e8a;
$color-secondary: #E4F1FB;
$color-links: #0f4e8a;
$color-warning: #ffc107;
@import "../lirmm/main";
@import "search";

@import "//fonts.googleapis.com/css?family=Titillium+Web:400,700";