= render_in_modal do
  - @title = t('admin.categories.edit.edit_category')

  %div
    = form_for :category, url: admin_categories_path + "/" + escape(@category.acronym), method: "PATCH", remote: true, data: { collection: "category"}, html: {class: "admin-collection-form" } do |f|
      = render partial: "form", locals: {f: f, title_text: t('admin.categories.edit.edit_category'),
                                               button_text: t('admin.categories.edit.save'), button_class: "edit-category"}
