= turbo_frame_tag 'categories-list' do
  = link_to_modal("Create New category",
                  new_admin_category_path,
                  id: "new_category_btn",
                  class: "btn btn-default mb-3",
                  data: { show_modal_title_value: "Create a new category"})

  %div.my-1
    = render_alerts_container
  %table#adminCategory.zebra{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %thead
      %tr
        %th Name
        %th Description
        %th Created
        %th ID
        %th COUNT
        %th Actions
    %tbody#categories_table_content
      = render partial: 'admin/categories/category', collection: @categories
      %tr.empty-state
        %td.text-center{:colspan => "6"} There are currently no  categories.
  :javascript
    $.fn.dataTable.ext.errMode = 'none';
    $("#adminCategory").dataTable()

