= render_in_modal do
  - @title = t('admin.categories.new.create_new_category')

  %div
    = form_for :category, url: admin_categories_path, method: "POST", remote: true, data: { collection: "categories"}, html: {class: "admin-collection-form" } do |f|
      = render partial: "form", locals: {f: f, title_text: t('admin.categories.new.create_category'),
                                               button_text: t('admin.categories.new.create_category') }
