= form_for(:user , :url=>{:controller=>'login',:action=>'send_pass'}) do
  .d-flex.justify-content-center.m-4
    .lost-password-form
      .d-flex.justify-content-between
        %a{:href => "javascript:javascript:history.go(-1)"}
          %img.lost-password-arrowback{:src => "#{asset_path("arrow-back.svg")}"}/
        .lost-password-title-container
          %h2.lost-password-title
            Recover password
          %hr#lost-password-title-line/
        %div
      .d-flex.justify-content-center.m-2
        %p.lost-password-description{style: "text-align: justify;"}
          Automated password recovery is currently unavailable. Please send an email to 
          %a{:href => "mailto: #{$SUPPORT_EMAIL}"}= $SUPPORT_EMAIL 
          for a password reset request, we will process it as soon as possible. Sorry for the inconvenience.
      -#%p.lost-password-description Enter the email associated with your account and we will send an email with instructions to reset your password
      -#%p.lost-password-input-title Email
      -#= text_field 'user', :email,class: "lost-password-input", placeholder: "Enter the email"
      -#%input.lost-password-button{:type => "submit", :value => "Send instructions"}/
