<%= form_for(:user , :url=>{:controller=>'login',:action=>'send_pass'}) do%>

    <div class="lost-password-page-container">
        <div class="lost-password-form">
            <div class="lost-password-title-bar">
                <a href="javascript:javascript:history.go(-1)">
                    <svg class="lost-password-arrowback" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.64176 1L1 6L5.64176 11M14 6H1.13" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                    
                <div class="lost-password-title-container">
                    <h2 class="lost-password-title">
                        Recover password
                    </h2>
                    <hr id="lost-password-title-line">
                </div>
                <div></div>
            </div>
            <p class="lost-password-description">Enter the email associated with your account and we will send an email with instructions to reset your password</p>
            <p class="lost-password-input-title">Email</p>
            <%=text_field 'user', :email,class: "lost-password-input", placeholder: "Enter the email" %>

            <input class="lost-password-button" type="submit" value="Send instructions">
        </div>
    </div>


<%end%>