= render TableComponent.new(id: 'mapping_count_table') do |t|
  - t.header do |h|
    - h.th {'Ontology'}
    - h.th {'Mappings'}

  - if @mapping_counts.blank?
    - t.row do |r|
      - r.td {'There are no mappings to or from this ontology'}
      - r.td {'&nbsp;'}
  - else
    - @mapping_counts.each do |mapping_count|
      - t.row do |r|
        - r.td do
          - title =  mapping_count[:target_ontology].name
          = link_to_modal title, mappings_show_mappings_path(id: @ontology_acronym ,target: mapping_count[:target_ontology].id), data: { show_modal_title_value: title, show_modal_size_value: 'modal-xl'}
        - r.td do
          = number_with_delimiter(mapping_count[:count], delimiter: ',')

