%div{data: container_data}
  %div{'data-action': "click->reveal-component#toggle change->reveal-component#toggle"}
    = button
  %div{'data-reveal-component-target': "item", class: @init_show ? '' : @hidden_class}
    = content