.search-result-component.sub-component{
  margin-bottom: 10px;
}


.search-result-component .title{
  color: var(--primary-color) !important;
  font-size: 20px;
  font-weight: 500;
}

.search-result-component.sub-component .title{
  color: var(--primary-color) !important;
  font-size: 18px;
  font-weight: 500;
}

.search-result-component .uri{
  color: #888888;
  font-size: 14px;
  margin: 3px 0;
}

.search-result-component.sub-component .uri{
  color: #888888;
  font-size: 12px;
  margin: 3px 0;
}

.search-result-component .actions{
  display: flex;
  margin-top: 10px;
}

.search-result-component.sub-component .actions{
  display: flex;
  margin-top: 7px;
}

.search-result-component .actions .button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--light-color);
  padding: 5px 13px;
  margin-right: 10px;
}

.search-result-component .actions .button:hover{
  cursor: pointer;
}

.search-result-component .actions .button svg path{
  fill: var(--primary-color);
}

.search-result-component .actions .button .text{
  color: var(--primary-color);
  margin-left: 8px;
}

.search-result-component.sub-component .actions .button .text{
  font-size: 12px;
}

.search-result-component.sub-component .actions .button svg{
  width: 12px;
}

.search-result-component .actions .button.icon-right .text{
  margin-right: 8px;
  margin-left: 0;
}

.more-from-ontology{
  display: flex;
  margin-top: 10px;
}

.more-from-ontology .vertical-line{
  width: 1px;
  background-color: var(--primary-color);
  border-radius: 100px;
  margin-right: 30px;
}

.search-result-sub-components{
  margin: 20px 0;
}

.search-result-sub-components .reuses-title{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.search-result-sub-components .reuses-title div{
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #888888;
}

.more-from-ontology.reuses{
  background-color: #F8F8F8;
}
.more-from-ontology.reuses .vertical-line{
  background-color: #888888;
}



