.agents-page-section{
  border: 1px solid #ccc; 
  border-radius: 8px;
  padding: 20px; 
  margin-top: 30px; 
}
.agents-bubble-view-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.clickable-identifier-icon {
  width: 24px;
  height: 24px;
  margin-left: 7x;
  transition: opacity 0.2s;
}
.clickable-identifier-icon path{
  fill: var(--primary-color)
}

.clickable-identifier-icon:hover {
  opacity: 1;
}


.chart-container {
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    
    canvas {
        display: block;
        margin: 0 auto;
    }
}

.stats {
    margin-top: 20px;
    text-align: center;
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    
    p {
        margin: 8px 0;
        font-size: 16px;
    }
}