.recommender-page-options .chips{
  display: flex;
  flex-wrap: wrap;
}
.recommender-page-options .select-ontologies{
  margin: 10px 0;
}
.recommender-page-options .preftitle{
  font-size: 14px;
  color: #666666;
  margin-bottom: 5px;
}
.advanced-options-button{
  color: var(--primary-color);
  font-size: 14px;
  margin-top: 5px !important;
}
.advanced-options-button:hover{
  cursor: pointer;
}
.advanced-options-button svg{
  margin-left: 5px;
}
.advanced-options-button svg path{
  fill: var(--primary-color);
}
.advanced-options-button.hide-button svg{
  transform: scaleY(-1);
}
.annotation-context{
  color: gray;
  font-weight: 400;
}
.highlighted-annotation{
  color: black;
  font-weight: 600;
}