.recommender-page-options .chips{
  display: flex;
  flex-wrap: wrap;
}
.recommender-page-options .select-ontologies{
  margin: 10px 0;
}
.recommender-page-options .preftitle{
  font-size: 14px;
  color: #666666;
  margin-bottom: 5px;
}
.advanced-options-button{
  color: var(--primary-color);
  font-size: 14px;
  margin-top: 5px !important;
}
.advanced-options-button:hover{
  cursor: pointer;
}
.advanced-options-button svg{
  margin-left: 5px;
}
.advanced-options-button svg path{
  fill: var(--primary-color);
}
.advanced-options-button.hide-button svg{
  transform: scaleY(-1);
}
.annotation-context{
  color: gray;
  font-weight: 400;
}
.highlighted-annotation{
  color: black;
  font-weight: 600;
}
.annotator-page-results .cont{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.annotator-page-results .title{
  font-size: 18px;
  font-weight: 600;
}
.annotator-page-results .details{
  color: #888888;
}
.more-advanced-options{
  margin-top: 20px;
}
.more-advanced-options .filters_line{
  display: flex;
  margin-top: 20px;
}
.more-advanced-options .filters_line div{
  width: 100%;
}

.more-advanced-options .filters_line > :not(:first-child) {
  margin-left: 20px;
}
.more-advanced-options .chips{
  display: flex;
  margin-top: 20px;
}
.annotation-parent{
  display: flex;
}
.annotation-parent div,a{
  margin-right: 11px;
}
.annotation-parent .text{
  margin-right: 8px;
}

.annotation-parent a{
  text-decoration: underline !important;
}

.annotation-parent .level{
  font-weight: 600;
  color: var(--primary-color);
}
.annotation-parent .gray{
  color: #888888;
}