.federation-portal-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--light-color);
    padding: 5px 13px;
    margin-right: 0px;
    height: 100%;
}


.federation-portal-button:hover{
    cursor: pointer;
}

.federation-portal-button svg{
    width: 16px;
    height: 16px;
}
.federation-portal-button svg path{
    fill: var(--primary-color);
}

.federation-portal-button .text{
    color: var(--primary-color);
    margin-left: 8px;
}
.federation-portal-button.icon-right .text{
    margin:0 8px;
}