.mappigs-page-container{
  display: flex;
  justify-content: center;
}
.mappings-page-subcontainer{
  width: 1248px;
  padding: 20px 50px;
}

.mappings-page-title{
  font-size: 25px;
  font-weight: 700;
}
.mappings-page-title .line{
  height: 2px;
  width: 57px;
  background-color: var(--primary-color);
  border-radius: 10px;
}
.mappings-page-decription{
  color: #888888;
  margin: 20px 0;
}

.mappings-bubble{
  cursor: pointer;
}
.mappings-bubble-view-frame{
  width: 600px;
  height: 600px;
  overflow: scroll;
}

.mappings-zoom-buttons{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.mappings-zoom-buttons svg{
  width: 40px;
  margin-right: 40px;
  cursor: pointer;
  path{
    fill: var(--primary-color)
  }
  &:hover path{
    fill: var(--hover-color)
  }
}
.mappings-bubble-view-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


