.ontology-notes-container{
  margin-top: 10px;
  display: flex;
  gap: 10px; 
  .left-column{
    min-width: 35%;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
  }
  .right-column{
    width: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
  }
}

