.ontology-notes-container{
  margin-top: 10px;
  display: flex;
  gap: 10px; 
  .left-column{
    min-width: 35%;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    height: fit-content;
  }
  .right-column{
    width: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
  }
  .tabs-container .tab-items{
    width: 100%;
    justify-content: space-between;    
  }
  .tabs-container .tab-items > div{
    margin-right: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .note{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
    .note-left-column{
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    .note-right-column{
      width: 40%;
      display: flex;
      justify-content: end;
      gap: 5px;
      .chip-button-component-container{
        word-break: break-word !important;
        overflow-wrap: break-word !important;
        white-space: normal !important;
      }
    }

    .social-actions{
      display: flex;
      gap: 10px;
    }

    .note-header{
      display: flex;
      gap: 12px;
      .note-creator{
        font-weight: 500;
      }
      .note-date{
        color: var(--gray-color);
      }
    }
    .note-content{
      color: var(--gray-color);
    }
    .note-object{
      font-weight: 500;
    }
    .vote-button{
      display: flex;
      gap: 7px;
      align-items: center;
      color: #888888;
      background: #F2F2F2;
      padding: 5px 12px;
      border-radius: 30px;
      .up-button{
        cursor: pointer;
      }
      .up-button:hover svg{
        transition: fill 0.3s ease-in-out;
        fill: var(--primary-color);
      }
      .down-button{
        cursor: pointer;
        transform: scaleY(-1);
        margin-top: 4px;
      }
      .down-button:hover svg{
        transition: fill 0.3s ease-in-out;
        fill: var(--secondary-color);
      }
    }
  }
  .notes-devider{
    height: 1px;
    width: 100%;
    background: #DFDFDF;
    border-radius: 10px;
    margin: 10px 0;
  }
  .replies{
    display: flex;
    gap: 5px;
    align-items: center;
    background: #F2F2F2;
    border-radius: 30px;
    padding: 5px 12px;
    color: #888888;
    cursor: pointer;
  }
  .note-inputs{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  
}

