.center {
  display: flex;
  justify-content: center;
}

.notes-container {
  display: flex;
  justify-content: space-between;
  width: 1242px;
  margin: 40px 60px;

}

.left-column {
  width: 352px;
}

.notes-inputs-column {
  height: 268px;

  border-radius: 5px;
  border: 1px solid #DFDFDF;
}

.notes-details-column {

  margin-left: 27px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #DFDFDF;

}

.note-container {
  padding: 15px 20px;
}

.note-header {
  display: flex;
  justify-content: space-between;

}

.note-header-left {
  display: flex;
  align-items: center;
}

.note-header-left .note-author {
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
}

.note-date {
  font-size: 14px;
  font-weight: 500;
  color: #888888;
  margin-left: 20px;
}

.note-class {
  color: #888888;
  font-size: 14px;
}

.note-content {
  width: 428px;
  font-size: 14px;
  color: #888888;
  margin: 10px 0;
}

.note-content .note-subject {
  font-weight: 600;
}

.note-actions {
  display: flex;
  align-items: center;
}

.note-actions div {
  display: flex;
  align-items: center;
  color: #31B404;
  margin-right: 20px;
  cursor: pointer;
}

.note-actions div div {
  margin-right: 10px;
}

.notes-details-column hr {
  border-top: 1px solid #DFDFDF;
  margin: 5px 0;
  width: 100%;

}

.notes-input-tabs {
  display: flex;
  justify-content: space-around;

}

.notes-input-tabs div div {
  display: flex;
  align-items: baseline;
  margin-top: 7px;
}

.notes-input-tabs div div div {
  margin-right: 10px;
  color: #888888;
  font-size: 15px;

}

.notes-input-tabs .active div div {

  color: #31B404;

}

.notes-input-tabs .active div svg path {
  fill: #31B404;
}

.notes-inputs {
  padding: 20px 10px;
}

.notes-subject-input {
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.notes-comment-input {
  position: relative;

}

.notes-comment-input textarea {
  margin-top: 10px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  width: 100%;
  resize: none;
}

.notes-comment-input svg {
  position: absolute;
  bottom: 15px;
  right: 15px;
}