.search-page-container {
  display: flex;
  justify-content: center;
}
.search-page-subcontainer {
  width: 1248px;
  padding: 20px 50px;
}
.search-page-input-container{
  width: 100%;
}

.search-page-input{
  position: relative;
  padding-bottom: 80px;
}
.search-page-input input{
  position: absolute;
  border-radius: 100px;
  box-shadow: rgba(100, 100, 111, 0.1) 0 7px 29px 0;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 15px 25px;
  width: 100%;
}
.search-page-input input:focus{
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.search-page-advanced{
  display: flex;
  margin-bottom: 15px;
}
.search-page-advanced .left{
  width: 600px;
  margin-right: 40px;
}
.search-page-advanced .filter-container{
  margin-bottom: 15px;
}
.search-page-advanced .filter-container .title{
  margin-bottom: 5px;
  color: #888888;
  font-size: 14px;
}




.search-page-options{
  
}
.search-page-button{
  position: absolute;
  top: 14px;
  left: 1104px;
  border: none;
  background: none;
}
.search-page-button svg path{
  fill: var(--primary-color)
}
.search-page-button:hover{
  cursor: pointer;
}
.search-page-options{
  display: flex;
  justify-content: space-between;
}
.search-page-advanced-button{
  display: flex;
}
.search-page-advanced-button :hover{
  cursor: pointer;
}
.search-page-advanced-button .text{
  margin-left: 10px;
  color: var(--primary-color);
}

.search-page-advanced-button .icon svg path{
  fill: var(--primary-color);
}
.search-page-number-of-results{
  color: #888888;
}

.search-page-result-element{
  margin-top: 40px;
}
