.show > .btn-outline-primary.dropdown-toggle {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.summary-page-center {
  display: flex;
  justify-content: center;
}

.Summary-page-title {
  color: #888888;
  font-size: 15px;
}

.description_text,
.description_text a {
  color: #888888 !important;
  font-size: 15px;
  margin-top: 10px;
}
.description_text {
  overflow: hidden;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 5);
}

.description_text_identifers {
  overflow: hidden;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 5);
}

.projects_using_onto_text {
  color: #888888;
  font-size: 15px;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 8px;
}

.see_more_text {
  color: var(--primary-color);
  font-size: 15px;
  margin-top: 10px;
}

.Summary-page-title-Ontology {
  color: #888888;
  font-size: 15px;
}

.clickable_text {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 550;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 10px;
}

.keywords_keyclasses_section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.categories_section {
  display: flex;
  flex-wrap: wrap;
}

.creation_info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.projects_info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.date_creation_text {
  color: #888888;
  font-size: 14px;
  font-weight: 550;
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.creator_text {
  color: #888888;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 550;
  margin-top: 15px;
  width: 300px;
}

.creation_text {
  color: #888888;
  font-size: 14px;
  margin-left: 1px;
  margin-top: 15px;
  margin-right: 2px;
}

.categories_box {
  cursor: pointer;
  color: #777777;
  background-color: #f6f6f6;
  width: fit-content;
  margin-right: 13px;
  margin-top: 8px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  height: min-content;
  padding: 9px 15px;
  border-radius: 8px;
}

.non_clickable_text {
  color: #888888;
  font-size: 15px;
  font-weight: 550;
  margin-top: 5px;
}

.icons_container {
  margin-top: 10px;
  justify-content: space-evenly;
  display: flex;
  padding: 0 20px;

  svg path {
    fill: var(--primary-color);
  }
}

.projects-add-new {
  svg path {
    fill: var(--primary-color);
  }
}

.text_link_line {
  width: 93px;
  margin-top: 3px;
  border: 0.5px solid var(--primary-color);
  border-radius: 5px;
}

.container {
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary_title_card {
  border: 1px solid #ffffff;
  padding: 20px 20px;
  margin-top: 20px;
  width: 480px;
}

.test {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.Ontology-title-principal {
  font-size: 18px;
}

#Summary-page-title-line {
  width: 80px;
  margin-top: 3px;
  border: 0.5px solid #888888;
  border-radius: 5px;
}

#Sections_line {
  border-bottom: 0px solid #888888;
  width: 100%;
  margin: auto;
}

#section_focused_line {
  width: 80px;
  margin-top: auto;
  border: 0.5px solid var(--primary-color);
  border-radius: 5px;
}

#section_focused_line_fairScore {
  width: 70px;
  margin-top: auto;
  border: 0.5px solid var(--primary-color);
  border-radius: 5px;
}

#section_focused_line_networkRelation {
  width: 190px;
  border: 0.5px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 0;
  margin-top: 0;
}

#section_focused_line_metrics {
  width: 50px;
  margin-top: auto;
  border: 0.5px solid var(--primary-color);
  border-radius: 5px;
}

.card_title {
  font-size: 18px;
  margin-top: 40px;
}

.card_title_2 {
  font-size: 18px;
}

.summary-page-sub-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.summary-page-first-row {
  width: 750px;
  margin-right: 20px;
  padding: 0 0 0 50px;
}

.summary-page-second-row {
  width: 478px;
  padding: 0 50 0 0;
}

.summary-page-third-row {
  width: 61%;
}

.Summary-page-card {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 20px 20px;
  margin-top: 20px;
}
.Summary-page-card_back {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 20px 20px;
  margin-top: -18px;
}
.summary-page-card-title {
  font-size: 16px;
}

.summary-page-card-desc {
  font-size: 13px;
  color: #666666;
  margin: 8px 0;
}

.summary-page-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.disabled-icon svg path {
  fill: rgba(0, 0, 0, 0.1);
}
.loop_icon {
  position: absolute;
  width: 50px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: absolute;
  bottom: 0px;
  right: 0;
}

.openup_icon_projects {
  margin-top: -7px;
  padding: 12px;
  display: flex;
  align-items: center;
}

.keywords_container {
  font-size: 13px;
  height: 27px;
  max-width: 400px;
  background-color: #e7e7e7;
  border-radius: 5px;
  padding: 2px 15px;
  justify-content: space-between;
  align-items: center;
  color: #666666;
  margin: 10px 5px;
}

.keyclasses_container {
  font-size: 13px;
  height: 27px;
  max-width: 400px;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 2px 15px;
  justify-content: space-between;
  align-items: center;
  color: #666666;
  margin: 10px 5px;
}

.caintainer_vertical {
  align-content: space-between;
}

.normal_text {
  font-size: 15;
  color: black;
  word-wrap: break-word;
}

.openUp .depiction {
  position: relative;
}

/* Toggle switch css */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

.summary-page-sub-container {
  display: flex;
}

.arrow {
  border: solid #888888;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.license_link {
  cursor: pointer;
  color: #777777;
  display: flex;
  background-color: #f6f6f6;
  width: fit-content;

  height: fit-content;
  align-items: center;
  padding: 15px 20px;
  border-radius: 8px;
}

.summary_page_sections {
  display: flex;
  justify-content: space-between;
}

.summary_page_sections a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #888888;
}

.summary_page_sections a p {
  margin-right: 20px;
}

.summary_parts {
  margin-top: 70px;
  width: 1138px;
}

.metrics {
  display: flex;

  justify-content: space-between;
}

.metrics-container {
  border-radius: 8px;
  height: 90px;
  box-shadow: 2px 0px 60px rgba(0, 0, 0, 0.1);
  padding: 71px 40px;
  margin-top: 10px;
}

.metrics-container > div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.metrics-container > div > p {
  font-size: 20px;
  font-weight: 600;
  margin-left: 18px;
}

.metrics-item {
  display: flex;
  align-items: center;
}

.metrics-item hr {
  height: 73px;
  width: 0px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  margin-right: 15px;
}

.metrics-item h4 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

.metrics-item p,
.metrics-item a {
  font-size: 18px;
  font-weight: 400;
}

.right_metadata {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 14px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.right_metadata-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.right_metadata-title-bar {
  display: flex;
  align-items: center;
  font-weight: 550;
  justify-content: space-between;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

.vists_image {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: 550;
  justify-content: space-between;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

.projects_card {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: 550;
  justify-content: space-between;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

.metadata_back_button {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  display: flex;
}

.metadata_back_buttons {
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
  display: flex;
  width: auto;
  padding: 15px 20px;
  border-radius: 8px;
  margin-left: 10px;
  font-size: 14px;
}
.fix-margin-buttom {
  margin-bottom: 0 !important;
}
@media (max-width: 1288px) {
  .summary-page-first-row {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }
  .summary-page-second-row {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }
}
