.taxonomy-page-container {
    display: flex;
    justify-content: center;
  }
.taxonomy-page-subcontainer {
    width: 1248px;
    padding: 20px 50px;
}
.taxonomy-page-title .text{
    font-size: 25px;
    font-weight: 700;
}

.taxonomy-page-title .line{
    height: 2px;
    width: 57px;
    background-color: var(--primary-color);
    border-radius: 10px;
}
.taxonomy-page-decription{
    color: #888888;
    margin: 20px 0;
}
.groupes-section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
}
.group-card{
    border: 1px solid #b2b2b2;
    padding: 15px 20px;
    width: 580px;
    
}


