.taxonomy-page-container {
    display: flex;
    justify-content: center;
  }
.taxonomy-page-subcontainer {
    width: 1248px;
    padding: 20px 50px;
}
.taxonomy-page-title .text{
    font-size: 25px;
    font-weight: 700;
}

.taxonomy-page-title .line{
    height: 2px;
    width: 57px;
    background-color: var(--primary-color);
    border-radius: 10px;
}
.taxonomy-page-decription{
    color: #888888;
    margin: 20px 0;
}
.groupes-section{
    display: flex;
}
.groupes-section .second-row{
    margin-left: 10px;
}
.group-card{
    border: 1px solid #DFDFDF;
    padding: 15px 20px;
    width: 580px;
    border-radius: 5px;
    margin-top: 10px;
}
.group-card .title{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}

.group-card .ontologies{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    margin: 5px 0;
}
.group-card .ontologies svg{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.group-card .ontologies svg path{
    fill: var(--primary-color);
}
.group-card .description{
    color: #666666;
    margin-bottom: 5px;
}

