.taxonomy-page-container {
    display: flex;
    justify-content: center;
  }
.taxonomy-page-subcontainer {
    width: 1248px;
    padding: 20px 50px;
}
.taxonomy-page-title .text{
    font-size: 25px;
    font-weight: 700;
}

.taxonomy-page-title .line{
    height: 2px;
    width: 57px;
    background-color: var(--primary-color);
    border-radius: 10px;
}
.taxonomy-page-decription{
    color: #888888;
    margin: 20px 0;
}
.taxonomy-section{
    display: flex;
}
.taxonomy-section .second-row{
    margin-left: 10px;
}
.taxonomy-card{
    border: 1px solid #DFDFDF;
    padding: 15px 20px;
    width: 569px;
    border-radius: 5px;
    margin-top: 10px;
}

.taxonomy-card .title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taxonomy-card .title{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}

.taxonomy-card .ontologies{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    margin: 3px 0;
}
.taxonomy-card .ontologies svg{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.taxonomy-card .ontologies svg path{
    fill: var(--primary-color);
}
.taxonomy-card .description{
    color: #666666;
}

.taxonomy-card .descriptionlink svg{
    margin: 0px 2px;
    height: 19px;
}

.taxonomy-card .descriptionlink svg path{
    fill: #666666;
}
.category-link{
    color: #666666 !important;
}
.taxonomy-slice-svg{
    width: 35px;
    height: 35px;
    margin-bottom: 2px;
}

.taxonomy-children-reveal{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);
}
.taxonomy-children-reveal svg{
    margin-left: 5px;
    margin-top: 3px;
}

.taxonomy-children .taxonomy-card{
    border: none;
    padding: 0px 18px;
    width: unset;
}

.taxonomy-children-container{
    display: flex;
    margin-top: 10px
}

.taxonomy-children-line{
    width: 1px;
    background-color: var(--primary-color);
}


