.upload-ontology-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.upload-ontology-card {
    width: 589px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 50px;
    padding: 20px 40px;

}

.upload-ontology-center {
    display: flex;
    justify-content: center;
}

.Upload-ontology-title {
    font-size: 18px;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
}

.Upload-ontology-title hr {
    border: 1px solid var(--primary-color);
    width: 93px;
    margin: 0;
}

.upload-ontology-progress {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.upload-ontology-progress hr {
    flex-grow: 1;
    border: 1px solid #D9D9D9;
    margin: 0;
}

.upload-ontology-progress hr.active {
    border: 1px solid var(--primary-color);
    ;
}

.upload-ontology-progress .progress-item {
    position: relative;
}

.upload-ontology-progress .details .active:nth-child(2) {
    color: var(--primary-color);
    font-weight: 600;
}

.upload-ontology-progress .details div:nth-child(2) {
    position: absolute;
    font-size: 12px;
    top: 33px;
    white-space: nowrap;
    color: var(--primary-color);

}

.upload-ontology-progress .General-metadata .active:nth-child(2) {
    color: var(--primary-color);
    font-weight: 600;
}

.upload-ontology-progress .General-metadata div:nth-child(2) {
    position: absolute;
    right: -38px;
    font-size: 12px;
    top: 33px;
    white-space: nowrap;
    color: #A9A9A9;

}

.upload-ontology-progress .Dates-and-contacts .active:nth-child(2) {
    color: var(--primary-color);
    font-weight: 600;
}

.upload-ontology-progress .Dates-and-contacts div:nth-child(2) {
    position: absolute;
    right: 0;
    top: 33px;
    font-size: 12px;
    white-space: nowrap;
    color: #A9A9A9;

}

.outlined-checked-circle {
    border: 2px solid var(--primary-color) !important;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.outlined-active-circle {
    border: 2px solid var(--primary-color) !important;
}

.outlined-circle {
    border: 1px solid #D9D9D9;
    border-radius: 13px;
    height: 26px;
    width: 26px;

}

.outlined-checked-circle img {
    display: block !important;
}

.outlined-active-circle img {
    display: none;
}

.outlined-circle img {
    display: none;
}

.upload-ontology-desc-text {
    display: flex;
    color: #777777;
    font-size: 11px;
}

.upload-ontology-desc-text div {
    display: flex;
    align-items: center;
}

.upload-ontology-desc-text a {
    text-decoration: none;
    color: var(--primary-color);
    margin-left: 7px;
}

#ontology_administeredBy_chosen{
    margin-top: 5px;
    margin-bottom: 23px;
    width: 100%;
    font-size: 13px;
    padding: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    outline: none;
}

.upload-ontology-chips-container{
    display: flex;
    flex-wrap: wrap;
}

.upload-ontology-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.upload-ontology-next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    background-color: var(--primary-color);
    border-radius: 5px;
    border: none;
    transition: background ease 0.3s;
    cursor: pointer;
    margin-left: 25px;
}

.upload-ontology-next-button:hover {
    background-color: var(--hover-color);
}
.upload-ontology-finish-button{
    height: 42px;
    width: 100px;
    margin-left: 20px;
}
.upload-ontology-next-button div,  .upload-ontology-next-button > input{
    margin-right: 5px;
    color: white;
    font-size: 16px;
    border: none;
    background: none;
}

.upload-ontology-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: white;
    transition: background ease 0.3s;
    cursor: pointer;
}

.upload-ontology-back-button:hover {
    background-color: var(--primary-color);
}

.upload-ontology-back-button:hover svg path {
    fill: white;
}

.upload-ontology-back-button:hover div {
    color: white;
}

.upload-ontology-back-button div {
    margin-left: 5px;
    color: var(--primary-color);
    font-size: 16px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.upload-ontology-desc {
    font-size: 12px;
    color: #777777;
    margin-bottom: 23px;
}

.upload-ontology-desc a {
    text-decoration: none;
    color: var(--primary-color);
}
.upload-ontology-desc a svg{
    transform: scale(1.2);
}

.upload-ontology-contact .titles {
    display: flex;
    font-size: 11px;
    color: #666666;
    margin-bottom: 5px;
}

.upload-ontology-contact .titles div:first-child {
    width: 262px;
}

.upload-ontology-contact.multiple .titles div:first-child {
    width: 233px;
}

.upload-ontology-contact .fields-line {
    display: flex;
}

.upload-ontology-contact .fields-line input:focus {
    border: 1px solid var(--primary-color) !important;
}

.upload-ontology-contact .fields-line input {
    font-size: 13px;
    padding: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    outline: none;
    width: 247px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.upload-ontology-contact.multiple .fields-line input {
    width: 218px;
}




.upload-ontology-contact .delete {
    display: flex;
    border: 1px dashed #BDBDBD;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 43px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-ontology-contact .add-another-contact {
    border: 1px dashed #BDBDBD;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;

}

.upload-ontology-contact .add-another-contact div {
    font-size: 11px;
    color: #DADADA;
    margin-left: 10px;

}

.upload-ontology-field-container .location-choice{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.upload-ontology-field-container .location-choice .title{
    font-size: 13px;
    color: black;
    margin-left: 13px;
    margin-bottom: 0;
    cursor: pointer;
}

.upload-ontology-field-container div{
    font-size: 12px;
    color: #666666;
}


.upload-ontology-input-field-container{
    margin-bottom: 23px;
}

.upload-ontology-input-field-container .switch-filter p{
    font-size: 12px !important;

}
.upload-ontology-double-field{
    display: block;
    margin-bottom: 23px;
}
.upload-ontology-double-field .first{
    width: 80%;
}

.upload-ontology-double-field .seconde {
    width: 100%;
}
