.file_uploader{data: {controller: "file-input"}}
  .file-drop-area.w-100
    .file-drop-text
      %div Drop your file here or,
      %span.choose-file-button Browse
    %span.file-message{data:{'file-input': {target: 'message'}}} or drag and drop file here
    = file_field_tag @name, class: 'file-input', data:{'file-input-target': 'input', action: 'file-input#updateMessage'}
