%h2.card_title
  %span.mr-2
    = @title
  - if @link
    %span
      = link_to(@link, target: "_blank") do
        = info_tooltip(@link_title)
%div{class: show_card? ? 'Summary-page-card'  : ''}
  = content