.chips-container
  %div
    %label{:for => "chips-#{@text}-check"}
      %input{:id => "chips-#{@text}-check", :name => text_underscore, :type => "checkbox", :value => text_underscore}/
      %span
        %img.chips-check-icon{:src => "#{asset_path('check.svg')}"}/
        = @text
