.agents-bubble-view-container
    .agents-bubble-view-frame{'data-agent-submissions-target': 'frame'}
        #agent-submissions-bubbles-view{'data-agent-submissions-target': 'bubbles', 'data-agent-submissions-ui-url-value': $UI_URL }
