.container.d-flex.flex-column.py-4{ style: "width: 1248px;" }
  = render PageHeaderComponent.new(title: "Agents" , description: t('agents.description'))
  = render TurboFrameComponent.new(id: 'agents-list', src: agents_path, loading: 'lazy')